<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="query.QuestionMapper">

<insert id="insertQuestion" parameterType="domain.question.vo.QuestionBoardVO" >
INSERT INTO question_board (
    boardQuestionId, title, content, viewCount,
    pictureFile, userId, deleteyn, createDate, modifiedDate
)
VALUES (
    #{boardQuestionId}, #{title}, #{content}, #{viewCount},
    #{pictureFile}, #{userId}, #{deleteyn}, #{createDate}, #{modifieDate}
)
</insert>

<select id="getAllQuestions" resultType="domain.question.vo.QuestionBoardVO">
SELECT * FROM question_board
</select>

<select id="getQuestionById" parameterType="String" resultType="domain.question.vo.QuestionBoardVO">
SELECT * FROM question_board WHERE boardQuestionId = #{id}
</select>

<update id="updateQuestion" parameterType="domain.question.vo.QuestionBoardVO">
UPDATE question_board
SET
    title = #{title},
    content = #{content},
    viewCount = #{viewCount},
    pictureFile = #{pictureFile},
    userId = #{userId},
    deleteyn = #{deleteyn},
    createDate = #{createDate},
    modifiedDate = #{modifieDate}
WHERE
    boardQuestionId = #{boardQuestionId}
</update>

<delete id="deleteQuestion" parameterType="String">
DELETE FROM question_board WHERE boardQuestionId = #{id}
</delete>

</mapper>