<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
		  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<!-- 질문 게시판 -->
		<typeAlias type="domain.question.vo.CommentQuestionVO" alias="commentquestionvo"/>
		<typeAlias type="domain.question.vo.QuestionBoardVO" alias="questionboardvo"/>
		
		
	</typeAliases>
	
</configuration>